*{
    margin: 0;
}
footer{
    background-color: #6B7B8C;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: white;
    height: 30vh;
    padding-top: 5%; 
    padding-bottom: 5%;
}
.container{
    display: flex;
    justify-content: space-around;
}
.logo img{
    width: 20rem;
    height: 10rem;
}
.box1 ul li{
    align-items: center;
    list-style-type: none;
}
.box3 ul li{
    align-items: center;
    list-style-type: none;
}
.reseaux{
    display: flex;
    justify-content: space-around;
}