@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'rel='stylesheet");
*{
    font-family: 'Helvetica Neue';
    margin: 0;
    padding: 0;
    color: 131313;
}
h1{
    font-family: 'Bebas Neue';
    margin-left: 4vw;
    font-size: 4vw;
}


/* --------------- header avec bar de navigation ------------------- */

#logo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
#navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    justify-content: space-around;
    background-color: #551C23;
    text-decoration: none;
}
#navbar ul a{
    font-size: 3vh;
    font-family: 'Bebas Neue';
    color: white;
    text-decoration: none;
}

/* ----------------- bloc des thématiques choisis ------------------- */
.wrap{
    display: flex;
    justify-content: space-around;
    padding : 20px 0 20px 0;
}
.title-section{
    font-size: 7vh;
    margin: 2vh;
    margin-top: 4vh;
}
.img-size{
    width: 25vw;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.btn button{
    color: rgb(33, 33, 33);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: #ffffff;
    font-family: 'Bebas Neue';
    transition: 0.5s;
}
.btn button:hover{
    color: rgb(255, 255, 255);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: rgb(33, 33, 33);
    font-family: 'Bebas Neue';
}

.btn input{
    color: rgb(33, 33, 33);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: #ffffff;
    font-family: 'Bebas Neue';
    transition: 0.5s;
}
.btn input:hover{
    color: rgb(255, 255, 255);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: rgb(33, 33, 33);
    font-family: 'Bebas Neue';
}
#text-pref{
    font-size: 2vw;
    margin: 2vw;
}

/*---------- section decouvrez aussi --------- */

.articleContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2vw;
}
.date-article{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style:oblique
}
#title-otherArticle{
    margin: 2vw;
}

.thematique{
    padding: 20px 0 20px 0;
}

.titleArticles{
    width: 20vw;
}

.descriptionArticles{
    width: 20vw;;
}



.hidenInput{
    /* display:none; */
}

#formContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.three{
    display:flex;
}

.textOver{
    position: absolute;
    bottom: 50%;
}

/* Page 1 article */

#container-article{
    display: flex;
    margin: 2vw;
}
#img-article{
    width:50vw!important ;
}

#description-oneArticle{
    font-size: 2vw;
    margin: 2vw;
}
#date-oneArticle{
    margin: 2vw;
    font-style: oblique;
}
#btn-readArticle{
    margin-left: 2vw;
}

#mainOneArticle h1{
    font-family: 'Helvetica Neue';
    width: 70%;
    /* font-weight: bold; */
    margin-top: 2vw ;
    margin-bottom:2vw ;
    padding-bottom:2vw ;
    border-bottom: solid #551C23 2px;
}

/*------- bouton lire article et autres boutons ----- */

.btn-readmore{
    color: rgb(33, 33, 33);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: #ffffff;
    font-family: 'Bebas Neue';
    transition: 0.5s;

}
.btn-readmore:hover{
    color: rgb(255, 255, 255);
    width: 15vw;
    height: 5vh;
    border: solid 2px;
    background-color: rgb(33, 33, 33);
    font-family: 'Bebas Neue';
}


/*--------- Footer ------*/

*{
    margin: 0;
}
footer{
    background-color: #3B3B3B;
    color: white;
    font-family: 'Bebas Neue';
    height: 45vh;
    display: flex;
    font-size: 1.5vw;
    justify-content: space-around;
}
.logo img{
    height: 25vh;
}

.box1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
