*{
    margin: 0;
}
footer{
    background-color: #3B3B3B;
    color: white;
    font-family: 'Bebas Neue';
    height: 45vh;
    display: flex;
    font-size: 1.5vw;
    justify-content: space-around;
}
.logo img{
    height: 25vh;
}

.box1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 391px) {
    footer{
        flex-direction: column;
    }
    .box1{
        order: 2;
    }
    .box3{
        order: 1;
    }
  }